@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');

:root {
    --nn-font-titles: "Merriweather",serif;
    --nn-font-text: "Open Sans";
    --nn-primary-color: rgb(211, 211, 205)   ;
    --nn-secondary-color: rgb(41, 39, 36)   ;
    --nn-tertiary-color: rgb(238, 105, 29)   ;
    --nn-fourthiary-color: rgb(192, 138, 107) ;
    

  }

h1, h2, h3 {
    font-family: var(--nn-font-titles);
}

p {
    font-family: var(--nn-font-text);
}

header {
    background-color: var(--nn-secondary-color);
    color: var(--nn-primary-color);
}

nav {
    background-color: var(--nn-tertiary-color) ;
}

button {
    background-color: var(--nn-tertiary-color);
    border-radius: 10px;
    display: inline-block;
    padding: 15px 15px;
    transition: all 0;
}

main {
    background-color: var(--nn-primary-color);
}

footer {
    background-color: var(--nn-fourthiary-color);
}

.encabezado {
    background-image: url(img/bg1.png);
}

.bg-orange{
    background-color: var(--nn-tertiary-color);
}
ul{
    list-style: none;
}
.bg-sobrenosotros{
    background-image: url(img/bg3.jpg);
}

.card-plan{
    margin: 10px 2px 10px 0px;
    display: inline;
    float: left;
    width: 100%;
    background-color: var(--nn-primary-color);
    transition: 0.5s;
    border-radius: 10px;
}

.card-plan:hover{
    box-shadow: 0 1px 20px var(--nn-secondary-color);
}

.card-title{
    margin-top: 5px;
    margin-bottom: 20px;
}

.card-subtitle{
    height: 140px;
    color: var(--nn-tertiary-color);
}


ul li{
    border-bottom: 1px solid #fff;
    list-style: none;
    padding: 10px;
    height: 90px;
    justify-content: center;
}

ul li:last-child{
    border: none;
}

.bi-check-lg{
  color: green;  
}

.bi-x-lg{
    color: red
}

.buy-btn{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}